@import 'react-md/src/scss/react-md';

.session-timer__container {
  @include md-box-shadow(2);
  background-color: $md-grey-200;
  height: 20em;
  position: fixed;
  width: 100%;
  top: 56px;
}


.session-timer__clock {
  color: $md-grey-800;
  text-align: center;
  font-size: 5em;
  padding: 1.3em 0;
}
